// ==========================================================================
// Dropdown Atom
// ==========================================================================

/*doc
---
title: Dropdown
name: dropdown
category: atoms
---

Dropdown atom shows child elements on hover

```html_example
    <p class="dropdown">Hover over this paragraph and you'll find...<span class="dropdown__child">ME</span></p>
```
*/

.dropdown {
    position: relative;
    @include link-hover {
        .dropdown__child {
            display: block;
        }
    }
}

.dropdown__child {
    display: none;
}

